<div class="app-container">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <nav *ngIf="isLoggedIn" class="navigation-bar">
    <ul>
      <li>
        <a routerLink="/book-room" routerLinkActive="active"
          >Book a Meeting Room</a
        >
      </li>
      <li>
        <a routerLink="/view-meetings" routerLinkActive="active"
          >View Meetings</a
        >
      </li>
      <li>
        <a routerLink="/room-status" routerLinkActive="active"
          >Current Room Status</a
        >
      </li>
      <li class="logout-li">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
